@{
    ViewData["Title"] = "Login";
}
 <div class="container-fluid mt-3">
    <section class="h-100">
      <div class="container py-4">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-xl-10">
            <div class="rounded-3 secondarColor">
              <div class="row g-0">
                            <div class="col-lg-6 image-auto align-items-center d-flex rounded-left" style="background-image: url(@Url.Content("~/Content/Images/front1.jpg"))">
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4"> 
                    <h1 class="mb-4 text-900">DONT HAVE ACCOUNT YET?</h1>
                    <div class="text-left pt-1 mb-5 pb-1">
                                        <a class="mb-3 button-secondary-full text-decoration-none text-center p-3 text-white" asp-area="" asp-controller="Account" asp-action="registration">SIGN UP</a>
                    </div>
                  </div>
                </div>
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4  p-md-0">
                    <div class="text-left">
                      <h1 class="hrms">Sign In</h1>
                      <h5 class="fw-light white-muted">Welcome back! Please login to your account</h5>
                    </div>
                    <form method="post" asp-controller="Account" asp-action="Index">
                      <p class="fw-light white-muted m-0">Email</p>
                      <div class="form-outline form-group mb-3">
                        <input type="email" name="Email_Account" id="form2Example11" class="myInput white-muted p-4"
                          placeholder="example@gmail.com" />
                      </div>
  
                      <p class="fw-light white-muted m-0">Password</p>
                                        <div class="form-outline form-group mb-3">
                        <input type="password" name="Password" id="form2Example11" class="myInput white-muted p-4"
                          placeholder="************" />
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="rememberMeCheckbox">
                        <label class="form-check-label text-white" for="rememberMeCheckbox">
                          Remember me
                        </label>
                      </div>
                      <div class="text-left pt-1 mb-3 pb-1">
                        <button class="button-full d-block mb-3 text-center p-3" type="submit">SIGN IN</button>
                        <a class="fw-light white-muted m-0 text-decoration-none">Forgot password?</a>
                      </div>
                      <div class="d-flex align-items-left justify-content-left pb-4">
                        <p class="fw-light white-muted">New User? </p>
                        <a class="fw-bold white-muted mx-2 text-decoration-none ml-2"> Sign up</a>
                      </div>
                    </form>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>