@{
    ViewData["Title"] = "Employee Create";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="rounded-3 secondarColor p-5">
                <div class="card-header">
                    <div class="text-left">
                        <h1 class="text-500">Create Employee</h1>

                    </div>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Employee" asp-action="Create">
                        <p class="fw-light white-muted m-0">First</p>
                        <div class="form-outline form-group mb-3">
                            <input type="text" name="First" id="form2Example11" class="myInput white-muted p-4"
                                   placeholder="First" />
                        </div>
                        <p class="fw-light white-muted m-0">Last</p>
                        <div class="form-outline form-group mb-3">
                            <input type="text" name="Last" id="form2Example11" class="myInput white-muted p-4"
                                   placeholder="Last" />
                        </div>
                        <p class="fw-light white-muted m-0">Birthday</p>
                        <div class="form-outline form-group mb-3">
                            <input type="date" name="Birthday" id="form2Example11" class="myInput white-muted p-4"
                                   placeholder="Birthday" />
                        </div>
                        <p class="fw-light white-muted m-0">Gender</p>
                        <div class="form-outline form-group mb-3">
                            <input type="text" name="Gender" id="form2Example11" class="myInput white-muted p-4"
                                   placeholder="Gender" />
                        </div>
                        <p class="fw-light white-muted m-0">Position</p>
                        <div class="form-outline form-group mb-3">
                            <input type="text" name="Position" id="form2Example11" class="myInput white-muted p-4"
                                   placeholder="Position" />
                        </div>
                        <div class="text-left pt-1 mb-5 pb-1">
                            <button class="button-full d-block mb-2 text-center p-3" type="submit">Create</button>
                        </div>
                    </form>
                    <a id="departmentLink" class="text-white text-decoration-none" asp-area="" asp-controller="Employee" asp-action="Employee">← Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
