@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- _DeleteConfirmation.cshtml -->
@model UserAccount
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="rounded-3 secondarColor p-5">
                <div class="card-header">
                    <div class="text-left">
                        <h1 class="text-500">Delete User Account</h1>

                    </div>
                </div>
                <div class="card-body">
                    <form asp-controller="UserAccount" asp-action="DeleteConfirmed" asp-route-id="@Model.UserAccount_Id" method="post">
                        <label asp-for="First_Name" class="fw-light white-muted m-0">First Name</label>
                        <div class="form-outline form-group mb-3">
                            <input asp-for="First_Name" type="text" readonly name="First_Name" id="form2Example11" class="myInput white-white p-4" />
                            <span asp-validation-for="First_Name" class="text-danger"></span>
                        </div>

                        <label asp-for="Last_Name" class="fw-light white-muted m-0">Last Name</label>
                        <div class="form-outline form-group mb-3">
                            <input asp-for="Last_Name" type="text" readonly name="Last_Name" id="form2Example11" class="myInput white-white p-4" />
                            <span asp-validation-for="Last_Name" class="text-danger"></span>
                        </div>

                        <label asp-for="Mobile" class="fw-light white-muted m-0">Name</label>
                        <div class="form-outline form-group mb-3">
                            <input asp-for="Mobile" type="number" readonly name="v" id="form2Example11" class="myInput white-white p-4" />
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>

                        <label asp-for="Email_Account" class="fw-light white-muted m-0">Email</label>
                        <div class="form-outline form-group mb-3">
                            <input asp-for="Email_Account" type="text" readonly name="Email_Account" id="form2Example11" class="myInput white-white p-4" />
                            <span asp-validation-for="Email_Account" class="text-danger"></span>
                        </div>

                        <label asp-for="Account" class="fw-light white-muted m-0">Account</label>
                        <div class="form-outline form-group mb-3">
                            <input asp-for="Account" type="text" readonly name="Account" id="form2Example11" class="myInput white-white p-4" />
                            <span asp-validation-for="Account" class="text-danger"></span>
                        </div>

                        <label asp-for="Gender" class="fw-light white-muted m-0">Gender</label>
                        <div class="form-outline form-group mb-3">
                            <input asp-for="Gender" type="text" readonly name="Gender" id="form2Example11" class="myInput white-white p-4" />
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                        <div class="text-left pt-1 mb-5 pb-1">
                            <button class="button-full d-block mb-2 text-center p-3" type="submit">Delete</button>
                        </div>
                    </form>
                    <a id="departmentLink" class="text-white text-decoration-none" asp-area="" asp-controller="UserAccount" asp-action="UserAccount">← Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>