@{
    ViewData["Title"] = "UserAccount Create";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="rounded-3 secondarColor p-5">
                <div class="card-header">
                    <div class="text-left">
                        <h1 class="text-500">Create User Account</h1>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="UserAccount" asp-action="userCreate">
                        <p class="fw-light white-muted m-0">First Name</p>
                        <div class="form-outline form-group mb-3">
                            <input type="text" name="First_Name" id="First_Name" class="myInput white-muted p-4" placeholder="Mark" />
                        </div>
                        <p class="fw-light white-muted m-0">Last Name</p>
                        <div class="form-outline form-group mb-3">
                            <input type="text" name="Last_Name" id="Last_Name" class="myInput white-muted p-4" placeholder="Zuckerberg" />
                        </div>
                        <p class="fw-light white-muted m-0">Mobile</p>
                        <div class="form-outline form-group mb-3">
                            <input type="number" name="Mobile" id="Mobile" class="myInput white-muted p-4" placeholder="Mobile" />
                        </div>
                        <p class="fw-light white-muted m-0">Password</p>
                        <div class="form-outline form-group mb-3">
                            <input type="text" name="Password" id="Password" class="myInput white-muted p-4" placeholder="Password" />
                        </div>
                        <p class="fw-light white-muted m-0">Email Account</p>
                        <div class="form-outline form-group mb-3">
                            <input type="text" name="Email_Account" id="Email_Account" class="myInput white-muted p-4" placeholder="example@gmail.com" />
                        </div>
                        <p class="fw-light white-muted m-0">Account</p>
                        <div class="form-outline form-group mb-3">
                            <input type="text" name="Account" id="Account" class="myInput white-muted p-4" placeholder="Manager" />
                        </div>
                        <p class="fw-light white-muted m-0">Gender</p>
                        <div class="form-outline form-group mb-3">
                            <input type="text" name="Gender" id="Gender" class="myInput white-muted p-4" placeholder="Male" />
                        </div>
                        <div class="text-left pt-1 mb-5 pb-1">
                            <button class="button-full d-block mb-2 text-center p-3" type="submit">Create</button>
                        </div>
                    </form>
                    <a id="departmentLink" class="text-white text-decoration-none" asp-area="" asp-controller="UserAccount" asp-action="UserAccount">← Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
