@{
    ViewData["Title"] = "Home Page";
}

<div class="card container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">


        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-4">

            <!--Grid column-->
            <div class="col-md-8 text-center">

                <h2 class="display-4">Welcome Home!</h2>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut esse placeat odit dolor excepturi.</p>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->
</div>
