@{
    ViewData["Title"] = "User Information";
}
<div class="card container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">


        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-4">

            <!--Grid column-->
            <div class="col-md-8 text-center">

                <h2 class="display-4">Welcome to UserInformation</h2>

                <!-- Views/Home/UserInformation.cshtml -->
                @model IEnumerable<UserDetails>

                <h2>User Information</h2>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <!-- Add more columns as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.Name</td>
                                <td>@user.Email</td>
                                <td>@user.Mobile</td>
                                <!-- Add more cells for additional properties -->
                            </tr>
                        }
                    </tbody>
                </table>



            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->


</div>