@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- _DeleteConfirmation.cshtml -->
@model Designation

<h2>Delete Designation</h2>
<form asp-controller="Designation" asp-action="DeleteConfirmed" asp-route-id="@Model.Designation_Id" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="text" readonly class="form-control" asp-for="Designation_Id" />

        <div class="form-group">
            <label asp-for="Designated" class="control-label"></label>
        <input asp-for="Designated" readonly class="form-control" />
            <span asp-validation-for="Designated" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="First" class="control-label"></label>
        <input asp-for="First" readonly class="form-control" />
            <span asp-validation-for="First" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Last" class="control-label"></label>
        <input asp-for="Last" readonly class="form-control" />
            <span asp-validation-for="Last" class="text-danger"></span>
        </div>
    <button type="submit" class="btn btn-danger m-2">Delete</button>
</form>
<a asp-action="Designation">Back to List</a>
