<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="rounded-3 secondarColor p-5">
                <div class="card-header">
                    <div class="text-left">
                        <h1 class="text-500">Create Designation</h1>

                    </div>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Designation" asp-action="Create">
                        <p class="fw-light white-muted m-0">Designated</p>
                        <div class="form-outline form-group mb-3">
                            <input type="text" name="Designated" id="form2Example11" class="myInput white-muted p-4"
                                   placeholder="Designated" />
                        </div>
                        <p class="fw-light white-muted m-0">First</p>
                        <div class="form-outline form-group mb-3">
                            <input type="text" name="First" id="form2Example11" class="myInput white-muted p-4"
                                   placeholder="First" />
                        </div>
                        <p class="fw-light white-muted m-0">Last</p>
                        <div class="form-outline form-group mb-3">
                            <input type="text" name="Last" id="form2Example11" class="myInput white-muted p-4"
                                   placeholder="Last" />
                        </div>
                        <p class="fw-light white-muted m-0">Location</p>
                        <div class="form-outline form-group mb-3">
                            <input type="text" name="Location" id="form2Example11" class="myInput white-muted p-4"
                                   placeholder="Location" />
                        </div>
                        <div class="text-left pt-1 mb-5 pb-1">
                            <button class="button-full d-block mb-2 text-center p-3" type="submit">Create</button>
                        </div>
                    </form>
                    <a id="departmentLink" class="text-white text-decoration-none" asp-area="" asp-controller="Designation" asp-action="Designation">← Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
